<!-- Navigation ToolBar -->
<mat-toolbar color="primary">
  <h1> IN THE STREETS</h1>
  <span class="spacer"></span>
  <a mat-button [routerLink]="['home']" routerLinkActive="active"> HOME </a>
  <a mat-button [routerLink]="['add_image']" routerLinkActive="active"> ADD IMAGE </a>
  <a mat-button [routerLink]="['verify_image']" routerLinkActive="active"> VERIFY IMAGES </a>
  <!--<a mat-button [routerLink]="['sign-up']" routerLinkActive="active"> SIGN UP</a>-->
</mat-toolbar>

<div class="container">
  <router-outlet></router-outlet>
</div>



